<div id="currentRead">
	<h5>Currently Reading:</h5>
	<h4>{{ site.currently_reading }}</h4>
	<br>
</div>

<footer id="footer" class="container-fluid text-center">
	<div style="display:inline-block">
  <a href="http://github.com/kairaygun" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
  <a href="mailto:ffv2102@columbia.edu" target="_top"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
  <a href="https://www.linkedin.com/in/zovfreullia" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a><br><br>
  <p>© 2017 Kaira Ray Villanueva</p>
</div>

</footer>
