<header class="fade-in">
    <section class="container-section">
        <img src="https://instagram.fewr1-2.fna.fbcdn.net/vp/3e4aa1d6641caa755200bc0b15d46ded/5CFCF63A/t51.2885-19/s150x150/50959423_2023224121303389_5534028132119478272_n.jpg?_nc_ht=instagram.fewr1-2.fna.fbcdn.net">
        <div class="info-content">
            <ul>
                <li>
                    <a href="https://www.instagram.com/kairaygun" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/kairaygun" target="_blank">
                        <i class="fab fa-github-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="http://kairaygun.tumblr.com" target="_blank">
                        <i class="fab fa-tumblr"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/kairaygun" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/kairaygun" target="_blank">
                        <i class="fab fa-soundcloud"></i>
                    </a>
                </li>
            </ul>
            <h2>fzf.villanueva@gmail.com</h2>
        </div>
        <h1>Kaira Villanueva<span>UX Engineer</span></h1>
    </section>
</header>