<header>
<h1>KAIRA VILLANUEVA<span class="blink">_</span></h1>
<div class="subheader">
    <p>Hey there, I'm Kaira, a front-end engineer committed to designing interfaces and transforming designs into interactable components (ocassionally dabbling on the back-end side of things).  I'm currently looking for remote or contract positions.</p>
    <p>On my down time, I like making <a href="http://www.instagram.com/kairaygun" target="_blank">concept art</a>, and one of the many ongoing art projects I'm working on is a collection of <a href="http://biologyillustration.tumblr.com/" target="_blank">scientific illustrations</a>.</p>
    <p>Check out some of my front-end projects below. <a href="#footer">Ping me</a> if you have any quesitons!</p>
</div>
</header>