<header class="fade-in">
    <section class="container-section">
        <img src="https://instagram.fewr1-4.fna.fbcdn.net/vp/aad8d73a232b4c60390a9dc3c50ebf51/5E5540C7/t51.2885-19/s150x150/72634509_532650094134926_4637183250693881856_n.jpg?_nc_ht=instagram.fewr1-4.fna.fbcdn.net">
        <div class="info-content">
            <ul>
                <li>
                    <a href="https://www.instagram.com/kairarobot" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/kairarobot" target="_blank">
                        <i class="fab fa-github-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="http://kairarobot.tumblr.com" target="_blank">
                        <i class="fab fa-tumblr"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/kairarobot" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://soundcloud.com/kygome" target="_blank">
                        <i class="fab fa-soundcloud"></i>
                    </a>
                </li>
            </ul>
            <h2>fzf.villanueva@gmail.com</h2>
        </div>
        <h1>Kaira Villanueva<span>UX Engineer</span></h1>
    </section>
</header>
