/*** COLOR PALLETE ***/
$black-color: #000;
$dark-gray-color: #0E0E0E;
$dark-green-color: #111810;
$dark-yellow-color: #E6B333;
$dirty-white-color: #E6E1E1;
$green-color: #3A5136;
$pink-color: #FD1999;
$purple-color: #A10EEC;
$white-color: #FFF;
$yellow-color: #FFF001;
