/*** FOOTER  ***/


/* Manipulates the footer section focusing
   on color, margins, and sizing */

footer {
    background-color: $white-color;
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 5em;
    width: 100%;

    /* Organizes the display of footer content and
       list elements to behave responsively  */
    .footer-container {
        margin: 20px 0 10px 0;

        /* Mobile default display */
        .footer-content {
            display: block;
            padding: 5px;
            vertical-align: top;

            ul {
                li {
                    margin-bottom: 5px;
                    background-color: $light-gray-color;
                    color: $dark-gray-color;
                    padding: 8px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: $dark-gray-color;
                        color: $light-gray-color;
                        cursor: pointer;
                    }
                }
            }

            h6 {
                margin-bottom: 2px;
            }

            @media screen and (min-width: 600px) {
                display: inline-block;
                padding: 5px 10px 5px 5px;
            }
        }
    }
}