/*** MAIN LAYOUT ***/

/* Sets initial background color with a gradient */
html {
    background-color: $dark-green-color;
    height: 100%;

    /* Adds a grainy texture to the overall background */
    body {
        background-image: url('https://www.transparenttextures.com/patterns/otis-redding.png');
        min-height: 100%;

        /* Maintains the margins of the main content */
        main {
            margin-bottom: 20px;
            margin-top: 60px;
            padding-left: 10px;
            padding-right: 10px;

            /* Default sizing for images in main */
            img {
                width: 100%;
                padding-top: 15px;
            }

            /* Container for single columns in main 
               Used for the blog index */
            .one-section-container {
                padding: 20px;

                /* Organizes content display of single column 
                   Default for mobile */
                .one-section-content {
                    background-color: $dark-green-color;
                    box-shadow: 2px 2px 8px $black-color;
                    margin: 0 auto;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 280px;

                    /* Desktop display for single column */
                    @media screen and (min-width: 700px) {
                        width: 60%;
                    }
                }
            }

            /* Container for double columns in main
               Used for the home index */
            .two-section-container {
                padding: 20px;
                text-align: justify; 
                text-align-last: center;

                /* Organizes content display of double columns 
                   Default for mobile */                
                .two-section-content {
                    display: block;
                    margin: 0 auto;
                    vertical-align: top;
                    width: 280px;

                    /* Image display inside a double columns  
                       Used for both mobile and desktop */
                    img {
                        margin-bottom: 10px;
                        max-height: 100%;
                        max-width: 100%;
                        padding-top: 15px;
                    }

                    /* Desktop display for double columns */
                    @media screen and (min-width: 700px) {
                        display: inline-block;
                        width: 300px;
                    }
                }  
            }
        }
    }
}