/*** MAIN LAYOUT ***/

/* Sets initial background color with a gradient */
html {
    background-color: $white-color;
    height: 100%;

    /* Adds a grainy texture to the overall background */
    body {
        min-height: 100%;
        -ms-overflow-style: none;  // IE 10+ - hide scrollbar
        overflow: -moz-scrollbars-none;  // Firefox - hide scrollbar

        &::-webkit-scrollbar { 
           display: none;  // Safari and Chrome - hide scrollbar
        }

        header {
            margin-top: 40px;
        }

        /* Maintains the margins of the main content */
        main {
            margin-bottom: 20px;
            margin-top: 80px;

            /* Default sizing for images in main */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }


            /* Container for single columns in main 
               Used for the blog index mobile */
            .one-section-container {
                padding: 4px;
                text-align-last: center;

                &.blog-post {
                    img {
                        max-width: 600px;
                        width: 100%;
                        height: unset;
                        object-fit: contain;
                        border: 10px;
                        border: 4px solid transparent;
                        border-radius: 3px;
                        box-shadow: 0 1px 1px #ddd;
                    }
                }

                &.card {
                    .one-section-content {
                        max-width: 350px;
                        max-height: 300px;
                        background-color: $dirty-white-color;
                        box-shadow: 2px 2px 0px #eee;
                        margin: 0 auto;
                        text-align-last: left;
                        padding: 10px;
                        position: relative;
                        overflow: hidden;
                        h2 {
                            visibility: hidden;
                            position: absolute;
                            bottom: -20px;
                            transition: all .1s ease-out;
                            background-color: $dirty-white-color;
                            padding: 15px;
                            border-top-right-radius: 3px;
                            font-size: 12px;
                            font-weight: 800;
                            letter-spacing: 1.1px;
                            text-transform: uppercase;
                        }
                        img {
                            opacity: 0.85;
                            border-radius: 3px;
                        }
                        &:hover {
                            cursor: pointer;
                            img {
                                opacity: 1;
                            }
                            h2 {
                                visibility: visible;
                                bottom: 0px;
                            }
                        }
                    }
                }

                /* Organizes content display of single column 
                   Default for mobile */
                .one-section-content {
                    margin: 0 auto;
                    padding-left: 2px;
                    padding-right: 2px;
                    text-align-last: left;
                    width: 275px;

                    /* Desktop display for single column */
                    @media screen and (min-width: 700px) {
                        width: 60%;
                    }
                }

                /* Container for double columns in main
                   Used for the home index desktop */
                @media screen and (min-width: 700px) {
                    padding: 20px;
                }
            }

            /* Container for double columns in main
               Used for the home index mobile */
            .two-section-container {
                padding: 4px;
                text-align-last: center;

                /* Organizes content display of double columns 
                   Default for mobile */                
                .two-section-content {
                    display: block;
                    margin: 0 auto;
                    text-align-last: left;
                    vertical-align: top;
                    width: 275px;

                    /* Image display inside a double columns  
                       Used for both mobile and desktop */
                    img {
                        margin-bottom: 10px;
                        max-height: 100%;
                        max-width: 100%;
                        padding-top: 15px;
                    }

                    /* Desktop display for double columns */
                    @media screen and (min-width: 700px) {
                        display: inline-block;
                        width: 300px;
                    }
                }

                /* Container for double columns in main
                   Used for the home index desktop */                
                @media screen and (min-width: 700px) {
                    padding: 20px;
                }  
            }
        }
    }
}