/*** MODAL ***/

/* Main Modal */
.modals {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -ms-overflow-style: none; // IE 10+ - hides scrollbar
    overflow: -moz-scrollbars-none; // Firefox - hides scrollbar

    &::-webkit-scrollbar {
        display: none; // Safari and Chrome - hides scrollbar
    }
}

/* Modal Content */
.modal-content {
    background-color: $white-color;
    background-size: cover;
    box-shadow: 0px 2px 6px $light-shadow-color;
    margin: auto;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 150px;

    /* Desktop - width */
    @media screen and (min-width: 700px) {
        width: 60%;
    }

    .modal-title {
        font-weight: 700;
        font-size: 16px;
        border-bottom: 2px solid #636363;
        margin-bottom: 30px;
        padding: 20px;
    }

    .process-image {
        max-height: 400px;
        object-fit: contain;
    }

    .tools {
        font-weight: 700;
        display: block;
        border-bottom: 1px solid;
        padding-bottom: 1px;
        margin-bottom: 10px;
    }

    p {
        line-height: 30px;
        padding: 30px;
        max-width: 600px;
        text-align: justify;
        margin: 0 auto;
    }

    li {
        color: $dirty-white-color;
        font-family: $roboto-font;
        font-size: 15px;
        line-height: 17px;
        padding: 15px 0 15px 0;
    }
}

/* Modal Trigger Button */
.modal-button {
    background-color: transparent;
    border-style: none;
    color: $black-color;
    cursor: pointer;
    font-family: $vcr-font;
    padding: 0px 0px 10px 0px;
}

.modal-button:hover,
.modal-button:focus {
    color: $black-color;
    cursor: pointer;
}

/* Blurs the background when modal
   pops up on the screen */
.open-modal {
    filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    -webkit-filter: blur(8px);
}

/* Modal Close Button */
.close-modal {
    color: $dark-gray-color;
    display: table-cell;
    float: right;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    top: 10px;
    vertical-align: middle;
    z-index: 3;
    background-color: $white-color;
    padding: 0px 8px;
}

/* On hover, change the color of (x) 
   close button */
.close-modal:hover,
.close-modal:focus {
    color: $black-color;
    cursor: pointer;
    text-decoration: none;
}