/*** NAVIGATION  ***/
nav {
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    .navigation-items {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        .nav-item {
            a {
                text-decoration: none;
            }
            color: $black-color;
            padding: 20px;
            font-size: 30px;
            font-family: Consolas;
            text-align: right;
            font-weight: 600;
            &:first-child {
                border-bottom-left-radius: 3px;
            }
            &:last-child {
                border-bottom-right-radius: 3px;
                margin-top: 30px;
            }
            &:hover {
                cursor: pointer;
                background-color: $dark-gray-color;
                color: $light-gray-color;
            }
        }
    }
}




