
{% include head.html %}

<body>

    {% include header.html %}

    <div class="col-sm-12">
        <center><h3><i>about</i></h3></center>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <p>
                Bees are social insects. In general, there is the queen bee, drones, worker bees, cleaners, undertakers, nurses, builders, scouts, guards, and foragers. Approximately, there are about 20,000 – 30,000 bees per swarm. They have a pattern that is consistent and complicated that allows them to migrate altogether. At the same time, human social networks are greatly shaped by individual contribution to a larger niche structure, such as spreading memes or expanding work relationships. In a more micron level, a baeocyte (“small cell”) cyanobacteria reproduces through a rapid succession of cytoplasmic fission; repeatedly splitting itself within a cell that will eventually rupture once the volume has reached beyond the baeocyte’s carrying capacity. 
                </p>

                <p>
                These are the things I think about, which brings me to questions like, “How much baeocytes are replicated until the larger baeocyte ruptures?” or “How much memes were deliberately made for the 2016 election?” or “How much viable bees are needed within a given perimeter to stabilize the colonies in that region?” Though these questions do ask for a “number”, I don’t believe that these existing systems can be boiled down to a set numeric conclusion, rather, they require diligence and a steady observation of patterns (as most things).  
                </p>

                <p>
                [Insert further soliloquy]
                </p>

                <p>
                What I am trying to say is that <b>intelligent life exists in outer space</b> and I love banana bread. 
                </p>
            </div>
            
            <div class="col-sm-3"></div>
        </div>
    </div>
    <br><br><br>
</body>

{% include footer.html %}


