{% include head.html %}
<body>
    {% include header.html %}
    <main id="main">
        <section class="container-section">
            <div class="post-container">
                <div class="post-content">
					<h2>Hey there!</h2><br>
		        	<p>
		        		Hey, I’m Kaira Villanueva, a research-oriented product designer from Columbia University. I graduated with a major in human rights and a specialization in computer science, where I conducted research at the Computational Design Lab and wrote a thesis on designing user localization for the home page of the National Hurricane Center. 
		        	</p>
					<p>
						I care about thoughtful design that empowers users.  I believe in the principles of transparent information and democratic choice, as such usability and human dignity are two factors that I emphasize in my designs. Philosophies of Joseph Weizenbaum, Richard Buchanan, and Simon McCarthy are amongst the ones that have greatly influenced my design framework. I’m endlessly researching better ways to improve my methods, and enjoy hearty discussions on the past, present, and future impacts of technology design across various cultures.
					</p>
					<p>
						If you’re interested in chatting about design or have any questions in general, my email is 
						<span style="font-weight:600">fzf.villanueva@gmail.com</span>		
					</p>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/card_animation.js"></script>
<script src="/assets/js/resizecards.js"></script>
</html>