{% include head.html %}
<body>
    {% include navigation.html %} {% include header.html %}
    <main id="main">
        <h1>BLOG<span class="blink">_</span></h1>

        <!-- Main Section -->
        <section class="container-section">
            {% for post in site.categories.blog %}
            <div class="one-section-container">
                <div class="one-section-content">
                    <h2>
                        {{ post.title }}
                    </h2>
                    <button id="{{ "modal-button" | prepend: forloop.index }}" class="modal-button blink">
                        >>
                    </button>
                    <p>{{ post.date}}</p>
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- Modal Section -->
        <section class="modal-section">
            {% for post in site.categories.blog %}
                <div id="{{ "modal" | prepend: forloop.index }}" class="modals">
                    <div class="modal-content">
                        <h4 class="close-modal">&times;</h4>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    {% include footer.html %}
</body>
</html>