{% include head.html %}

<body>
    {% include header.html %}
    <br>
    <br>

    <div class="container-fluid bg-1">
      <div class="col-sm-3 text-center" style="background-color:black; color: white;">
           <h2 class="animated infinite pulse" style="display: inline-block;">Develop</h2>
    	</div>
      <div class="col-sm-3 text-center" style="background-color:white; color: black;">
    		<h2 class="animated infinite pulse" style="display: inline-block;">Design</h2>
    	</div>
    	<div class="col-sm-3 text-center" style="background-color:black; color: white;">
        <h2 class="animated infinite pulse" style="display: inline-block;">Mobile</h2>
    	</div>
    	<div class="col-sm-3 text-center" style="background-color:white; color: black;">
        <h2 class="animated infinite pulse" style="display: inline-block;">Front-End</h2>
    	</div>
    </div>
    <br>
    <br>

    <div class="container-fluid bg-3 text-center">

      <div class="jprt-buttons">

  <button class="jprt-btn"
    data-jprtgrid="jprt-1"
    data-tag="fruits" >
    Fruits
  </button>

  <button class="jprt-btn"
    data-jprtgrid="jprt-1"
    data-tag="vegetables">
    Vegetables
  </button>

</div>
      <div id="jprt-1" class="jprt-container">

        <!-- first item -->

        <div class="jprt-item" data-tags="fruits">
          <div class="jprt-caption">

            <!-- caption -->

          </div>
          <div class="jprt-content">

            <!-- content -->

          </div>
          <div class="jprt-hover">

            <!-- hover -->

          </div>
        </div>

        <!-- second item -->

        <div class="jprt-item" data-tags="fruits,vegetables">

          <!-- ... -->

        </div>

        <!-- other items -->

      </div>


        <div class="row">
            {% for post in site.categories.projects limit:3 %}
                <div class="col-sm-4">
                    <div class="projectImageOverlay">
                        <a href="{{ post.url }}">
                            <img class="projectImage" src="{{ post.img }}" alt="Image">
                        </a>
                            <h4 id="projectHeader">{{ post.title }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ site.baseurl }}/projects"><h3><i>more projects</i></h3></a>
    </div>
    <br>
    <br>

    <div id="blog" class="container-fluid bg-3 text-center">
        <br>
        <div class="row">
            {% for post in site.categories.blog limit:2 %}
                <div class="col-sm-12">
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <p>{{ post.date | date_to_long_string }}</p>
                </div>
            {% endfor %}
        </div>
        <a href="{{ site.baseurl }}/blog"><h3><i>more posts</i></h3></a>
    </div>
    <br>
    <br>

</body>

{% include footer.html %}
