{% include head.html %}

<body>
    {% include header.html %}
    <br>
    <br>

    <div class="container-fluid bg-1">
      <div class="col-sm-12 text-center" style="background-color:black; color: white;">
           <h2 class="animated infinite pulse" style="display: inline-block;">PROJECTS</h2>
    	</div>
    </div>
    <br>
    <br>

    <div class="container-fluid bg-3 text-center">

      {% for post in site.categories.projects %}
        {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <a href="{{ post.url }}"><img class="miniProjectImage" src="{{ post.img }}"/></a>
                </div>
                <div class="col-sm-4" style="background-color: black;">
                  <a href="{{ post.url }}"><h2 id="projectTitle">{{ post.title }}</h2></a>
                </div>
                <div class="col-sm-2"></div>
            </div>
          {% else %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <a href="{{ post.url }}"><img class="miniProjectImage" src="{{ post.img }}"/></a>
                </div>
                <div class="col-sm-4" style="background-color: white;">
                  <a href="{{ post.url }}"><h2 id="projectTitle">{{ post.title }}</h2></a>
                </div>
                <div class="col-sm-2"></div>
            </div>
          {% endif %}
      {% endfor %}
    </div>


    <br>

</body>

{% include footer.html %}
