
{% include head.html %}

<body>

    {% include header.html %}

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h3><i>blog</i></h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a id="totalProjects" href="#">All Posts</a></li>
                    <li><a id="webProjects" href="#">Web</a></li>
                    <li><a id="mobileProjects" href="#">Mobile</a></li>
                    <li><a id="dataProjects" href="#">Date</a></li>
                    <li><a id="researchProjects" href="#">Research</a></li>
                    <li><a id="gameProjects" href="#">Games</a></li>
                </ul><br>
            </div>

            <!-- main blog posts -->

            <div id="totalProjects" class="col-sm-5">
                <h4><small id="recentPosts">PROJECTS</small></h4>
                {% for post in site.categories.projects %}
                    <hr>
                    <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
                    <h5>{{ post.date | date_to_long_string }}</h5>
                    <img class="miniProjectImage" src="{{ post.img }}" />
                    <br>

                {% endfor %}
                <hr>
            </div>

            <!-- tutorial posts -->

            <div id="tutorialPosts" class="col-sm-5">
                <h4><small id="recentPosts">TUTORIALS</small></h4>
                {% for post in site.tags.tutorial %}

                    <hr>
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <h5>{{ post.date | date_to_long_string }}</h5>
                    <br>

                {% endfor %}
                <hr>
            </div>

            <!-- research posts -->

            <div id="researchPosts" class="col-sm-5">
                <h4><small id="recentPosts">RESEARCH</small></h4>
                {% for post in site.tags.research %}

                    <hr>
                    <a href="{{ post.url }}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <h5>{{ post.date | date_to_long_string }}</h5>
                    <br>

                {% endfor %}
                <hr>
            </div>

        <div class="col-sm-4 sidenav">
        </div>



        </div>
    </div>
</body>

{% include footer.html %}
