{% include head.html %}
<body>
    {% include header.html %}
    <main id="main">
        <!-- Portfolio Section -->
        <section class="fade-in main-view">   
            <div class="full-view portfolio-view">
                <div class="half-view-content hvc02">
                    <div class="post-container">
                        <div class="post-content">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/resizecards.js"></script>
</html>