
{% include head.html %}

<body>

            <div class="container wrapper text-center">

            <br />
            <h3><i>projects</i></h3>
            <hr>
            <div class="pull-center">
                <button id="totalProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="total">
                    All
                </button>
                <button id="webProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="web">
                    Web
                </button>
                <button id="mobileProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="mobile">
                    Mobile
                </button>
                <button id="dataProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="data">
                    Data
                </button>

                <button id="researchProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="research">
                    Research
                </button>

                <button id="gameProjects" style="margin-top: 0.5em" class="btn btn-small btn-primary" data-toggle="portfilter" data-target="games">
                    Games
                </button>

            </div>
            <div class="clearfix"></div>

            <br />

            <ul class="thumbnails gallery">

            {% for post in site.categories.projects %}
                <li class="span3" data-tag='total'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for post in site.tags.data %}
                <li class="span3" data-tag='data'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for post in site.tags.games %}
                <li class="span3" data-tag='games'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for post in site.tags.science %}
                <li class="span3" data-tag='research'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for post in site.tags.web %}
                <li class="span3" data-tag='web'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for post in site.tags.mobile %}
                <li class="span3" data-tag='mobile'>
                    <a href="{{ post.url }}">
                        <div class="thumbnail" >
                            <img class="miniProjectImage" src="{{ post.img }}" />
                            <div class="caption">
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}



            </ul>

            </ul>
            <div class="push"></div>
        </div>

    <br>
    <br>
    <br>

</body>

{% include footer.html %}


